test_big_allocs
test_checkered_alloc
test_checkered_realloc
test_free
test_out_of_memory
test_pool
test_os
test_simple
test_to_string
test_two_alloc

*.a
*.d
*.o
*.swp
*.sym
*~
.gdbinit
*.tar.*
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.elf
*.hex
*.list
*.srec
*.map
*.la
*.lo
*.log
*.trs
*.bak
*.bck
$*
*.000
*.gcda
*.gcno
coverage.info
coverage_html/

################
# autotools junk
################
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
.deps/
.dirstamp
libtool
m4/
stamp-h1
